<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>MediCare Hospital</title>
  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
      text-align:center;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
    .about{
      margin-top:15px;
      color:blue;
    }
    
  </style>
  <title>MediCare Hospital</title>
</head>

<body>
  {% include "hospital/navbar.html" %}
  <br><br>
  <center>
    <h3 class="about" style="margin-bottom:0px;">About Us !</h3>
  </center>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
    <h1 class="display-4">Hello</h1>
    <p class="lead">MediCare is an Online Hospital Management Platform.<br>It have three login system seperately for admin,doctors and patients.<br>It eases the Work and Management of hospital.<br>We are here for you 24/7 to provide you the best service.</p>
    <hr class="my-4">
    <p>Explore our Website.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
    </p>
  </div>
  {% include "hospital/footer.html" %}
</body>


</html>
